In [1]:
%%capture
import pyterrier as pt
if not pt.started():
  pt.init()

In [2]:
import pandas as pd
df = pd.read_csv('/content/drive/MyDrive/workspace/corpus.csv')

from xml.etree import ElementTree
tree = ElementTree.parse('/content/drive/MyDrive/workspace/topics.xml')
data = tree.getroot()
titles = []
title_ids = []
for topic in data:
    titles.append(topic.find('title').text.lower()[:-1])
    num = topic.find('number').text
    title_ids.append(num)
topics = pd.DataFrame(titles,columns = ['query'])
topics['qid'] = topics.index + 51
columns_titles = ["qid","query"]
topics=topics.reindex(columns=columns_titles)

qrels_path=("/content/drive/MyDrive/workspace/qrels.qrels")
qrels = pt.io.read_qrels(qrels_path)

docnos = qrels.docno

In [3]:
pd_indexer = pt.DFIndexer("./pd_index")
indexref = pd_indexer.index(df["text"], df["docno"])

index = pt.IndexFactory.of(indexref)
retr = pt.BatchRetrieve(index, controls = {"wmodel": "TF_IDF"})
res=retr.transform(topics)

res

       qid   docid  ...      score                                query
0       51  297468  ...  15.174829  do we need sex education in schools
1       51  330918  ...  14.984042  do we need sex education in schools
2       51  222529  ...  14.776028  do we need sex education in schools
3       51  279241  ...  14.715350  do we need sex education in schools
4       51  330916  ...  14.638091  do we need sex education in schools
...    ...     ...  ...        ...                                  ...
49995  100  256729  ...   3.581751                      do we need cash
49996  100   29220  ...   3.580354                      do we need cash
49997  100  231260  ...   3.580354                      do we need cash
49998  100  294707  ...   3.576581                      do we need cash
49999  100  192896  ...   3.575312                      do we need cash

[50000 rows x 6 columns]

In [7]:
res_copy = res.copy()
# res_copy = res_copy[res_copy['rank']<5]
res_copy = res_copy[res_copy['docno'].isin(docnos)]
res_copy.head(10)

   qid   docid  ...      score                                query
0   51  297468  ...  15.174829  do we need sex education in schools
1   51  330918  ...  14.984042  do we need sex education in schools
2   51  222529  ...  14.776028  do we need sex education in schools
5   51  213692  ...  14.538698  do we need sex education in schools
6   51  314475  ...  14.524366  do we need sex education in schools
7   51  239957  ...  14.516631  do we need sex education in schools
8   51  198593  ...  14.431860  do we need sex education in schools
14  51   37968  ...  14.208333  do we need sex education in schools
15  51  182595  ...  14.197628  do we need sex education in schools
16  51    4205  ...  14.165045  do we need sex education in schools

[10 rows x 6 columns]

In [5]:
eval = pt.Utils.evaluate(res_copy,qrels,metrics=["ndcg_cut_5", "bpref", "ndcg_cut_25"])
eval

{'bpref': 0.6261477227722415,
 'ndcg_cut_25': 0.6332115060794034,
 'ndcg_cut_5': 0.6118904950108662}

In [6]:
eval = pt.Utils.evaluate(res,qrels,metrics=["ndcg_cut_5", "bpref", "ndcg_cut_25"])
eval

{'bpref': 0.6261477227722415,
 'ndcg_cut_25': 0.45749865160257747,
 'ndcg_cut_5': 0.5527540851759042}